
<!-- contenedor principal -->
 <div class="p-grid">
  
  <!-- header --> 
  <div class="p-col-12">
    <img src="/assets/images/header.jpg" style="width: 100%;">
  </div>
  <!-- menu -->
  <div class="p-col-12">
      <p-tabMenu [model]="items"></p-tabMenu>
  </div>
  <!-- inmuebles -->
  <div class="p-col-12">
    <router-outlet></router-outlet>
  </div>  
</div>
