/* You can add global styles to this file, and also import other style files */

html, body { 
    width: 90%; 
    height: 100%; 
    display: block;
    margin: 0px auto;
}
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.p-grid{
    justify-content: space-around;
    align-items: stretch !important;
}

.p-card-shadow{
    width: 380px;
    margin: 10px;
}
.p-bar-header{
  display: flex;
  width: 100%;
  height: 30px;
  padding: 10px;
  justify-content: flex-end;
}
hr{
    height: 1px;
    border: none;
    border-bottom: 1px solid darkgray;
}