<h1>Exportar Datos</h1>
<div style="display: flex; justify-content: center; width: 100%;padding: 40px; ">
        <!-- <p-button label="Descargar datos como CSV"  
        [style]="{'display':'block','width':'100%','padding':'30px'}"
        styleClass="p-button-warning"
        (onClick)="descargarDatos($event)"></p-button> -->

        <a href="http://127.0.0.1:3000/api/inmuebles/export/" target="_blank"
        style="padding: 30px; 
        width: 50%; 
        display: block; 
        text-decoration: none; 
        background-color: goldenrod; 
        color: black;
        text-align: center;" >
            Descargar datos como CSV
        </a>

</div>

