   <h1>Inmuebles ({{total}})</h1>
  
   <p-dataView 
   [value]="inmuebles" 
   [paginator]="true" 
   [rows]="porPagina"
   [lazy]="true" (onLazyLoad)="loadData($event)" 
   [totalRecords]="total">
        
        <p-header>
        </p-header>
       
        <p-footer>
        </p-footer>
        

        <ng-template let-inmueble pTemplate="listItem">

                <p-card header="{{inmueble.detalles.titulo}}" subheader="{{inmueble.detalles.fuente}}" styleClass="p-card-shadow">
                
                    <p-header>
                        <div class="p-bar-header">
                                <p-button 
                                icon="pi pi-search" 
                                styleClass="p-button-rounded 
                                p-button-warning"></p-button>
                        </div>
                
                       <div *ngIf="inmueble.detalles.images; else nofoto" style="
                        background-image: url({{inmueble.detalles.images[0]}});
                        background-size: auto;
                        background-position: center center;
                        background-color: black;
                        width: 100%;
                        height: 250px;
                        ">
                       </div>
                       <ng-template #nofoto>
                            <div style="
                            background-image: url('/assets/images/no-foto.jpg');
                            background-size: auto;
                            background-position: center center;
                            background-color: black;
                            width: 100%;
                            height: 250px;
                            "></div> 
                       </ng-template>
                       
                    </p-header>
                    <div class="badges">
                        <span  *ngIf="inmueble.detalles.tipologia" class="p-tag p-tag-rounded">{{inmueble.detalles.tipologia | lowercase }}</span>
                        <span *ngIf="inmueble.detalles.localidad" class="p-tag p-tag-rounded p-tag-success">{{inmueble.detalles.localidad | lowercase }}</span>
                        <span *ngIf="inmueble.detalles.operacion" class="p-tag p-tag-rounded p-tag-info">{{inmueble.detalles.operacion | lowercase }}</span>
                    </div>
                    <hr>
                    <p>
                        {{inmueble.detalles.descripcion  | slice:0:150}}...
                    </p>
                    <hr>
                    <ng-template pTemplate="footer">
                        <p-button label="{{inmueble.detalles.precio}}"  
                        icon="pi pi-dollar" 
                        [style]="{'margin':'0px auto','width':'100%'}"
                        styleClass="p-button-warning"></p-button>
                    </ng-template>
                </p-card>    
            
        </ng-template>
        
        <ng-template pTemplate="paginatorleft" let-state>
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
        
    </p-dataView>
 
